branches:
  only:
    - master
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install: 
  - pip install tox-travis
  - pip install codecov
matrix:
  include:
    - python: 3.8
      env: TOXENV=lint
    - python: 3.5
      env: TOXENV=docs
    - python: 3.8
      env: TOXENV=isort
script: tox
after_success:
  - codecov
